<header class="uk-width-1-1 uk-background-default uk-padding" uk-sticky>
    <div class="uk-container">
        <a href="https://www.ipdec.org/" title="Instituto IPDEC">
            <img src="../assets/img/logo.png" alt="Instituto IPDEC">
        </a>
    </div>
</header>

<main class="uk-container uk-align-center uk-margin-large-top">
    <section class="uk-width-1-1">
        <div class="uk-flex-middle" uk-grid>
            <div class="uk-width-1-2@m uk-flex-first">
                <header class="uk-margin">
                    <h1 class="uk-article-title uk-text-light uk-margin-medium-bottom">Serviço de Consultoria <b class="uk-text-bold">ZABBIX</b></h1>
                </header>
                <p class="uk-text-lead uk-margin-medium-bottom uk-text-left@s">O serviço consiste em preparar templates de aplicação Zabbix para monitorar quando algo estiver fora do esperado. 
                    Precisararão ser deifidos os <b>Itens</b> e <b>Triggers</b> cujos quais serão aplicados em vários servidores remotos e centralizarão os relatórios em um servidor Zabbix que já existe no Cloud.</p>
            </div>
            <div class="uk-width-1-2@m">
                <img src="https://assets.zabbix.com/img/illustrations/zabbix_api.svg" alt="Zabbix API">
            </div>
        </div>

        <hr class="uk-divider-icon">
        
        <article class="uk-article uk-margin-medium-top">
            <h3 class="uk-text-lead">Os itens abaixo já foram mapeados como necessários para o monitoramento, podendo surgir outros:</h3>
            <h3 class="uk-text-bold">
                <span>Status do Servidor</span>
            </h3>
            <ul class="uk-text-lead">
                <li>Rede</li>
                <li>CPU</li>
                <li>Memória</li>
                <li>Armazenamento</li>
                <li>Processos em execução</li>
                <li>Etc</li>
            </ul>

            <h3 class="uk-text-bold">
                <span>Status dos Containers Docker</span>
            </h3>

            <ul class="uk-text-lead">
                <li>Na proposta comercial a ser enviada, o prestador precisa especificar o tempo para a execução da atividade e o custo.</li>
                <li>O prestador de serviço precisa emitir nota Fiscal de Serviço Pessoa Jurídica, com CNAE compatível com a atividade a ser executada.</li>
                <li>O serviço Zabbix já existe e disponível em Cloud.</li>
                <li>Já existem alguns agentes rodando.</li>
            </ul>

            <h3 class="uk-text-bold">
                <span>Documentação de Replicação</span>
            </h3>

            <p class="uk-text-lead">O trabalho também consiste em gerar uma documentação que permita que novos itens de monitoramento sejam adicionados por outra equipe, bem como um passo a passo para alterar as configurações dos Triggers.</p>

            <p class="uk-text-lead uk-margin-medium-bottom">Os interessados, antes do envio da proposta, poderão requisitar maiores informações cujas quais podem ser passadas via reunião presencial ou conferência online.</p>

            <h3 class="uk-text-bold">
                <span>Ficou interessado?</span>
            </h3>
            <p><a class="uk-text-large" href="mailto:contato@ipdec.org">contato@ipdec.org</a> <span class="uk-text-lead"> | (92) 98432-2000</span></p>
        </article>
    </section>
</main>
<footer class="uk-width-1-1 uk-padding-small uk-background-secondary">
    <div class="uk-container uk-text-center">
        <p>Todos os Direitos Reservados. Instituto <a href="https://www.ipdec.org" title="Instituto IPDEC">IPDEC</a></p>
    </div>
</footer>
